.container {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem;
  max-width: 1150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_option::before {
  content: '';
  position: absolute;
  width: 25%;
  height: 50%;
  background: radial-gradient(circle closest-side, rgb(191,249,209), transparent);
  transform: translateZ(-10px)
}

.heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.btn_area {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}